

/* work */

.work-thumbnails {
	margin-top: 50px;
	display: grid;
	padding-bottom: 4.5rem;
	grid-column-gap: 1.5rem;
	grid-template-columns: repeat(3, 1fr);
}

.work-thumbnails a {
	//box-sizing: border-box;
	//float: left;
	//max-width: 33%;
	//padding: 0 20px 20px 0;
	margin-bottom: 1.5rem;
	
	text-align: center; 
	
	img {
		//width: 100%;
		margin: 0 auto;
		box-shadow: 0 0 4px rgba(0,0,0,0.2);
	}
}

.page-work {
	//background: rgba(#f00,0.1);
	
	.post-content {
		display: grid;
		padding-bottom: 4.5rem;
		grid-column-gap: 1.5rem;
		grid-template-columns: 1fr 2fr;
	}
	
	.post-content img {
		box-shadow: 0 0 4px rgba(0,0,0,0.2);
		margin-bottom: 3rem;
	}
	
	nav {
		//position: fixed;
		
		/*
		
		top: 50vh;
		left: 50vw;
		
		
		margin-left: -36rem;
		*/
		
		//background: rgba(#000, 0.1);
		
		//position: absolute;
		//top: 49vh;
		//left: 0;
		//width: 100%;
		
		//border: ;
		//width: 100px;
		//height: 100px;
		//display: inline-block;
		
		//.wrapper {
		//	width: 85rem;
		//}
		
		.fa {
			//color: #666;
		}
		
		a {
			color: lighten($text-color, 60%);
			//background: rgba(#000, 0.1);

			&:hover {
				color: $brand-color;
			}
		}
		
		.prev {
			position: fixed;
			top: 49vh;
			// this places the arrow on the edge of the wrapper
			//left: calc((100vw - 72rem) / 2);
			// this moves the arrow to the left of the wrapper
			left: calc((100vw - 72rem - 150px) / 2);
			// this sorta centres the arrow in the space. needs to be fixed for responsive
			// left: calc((100vw - 72rem) / 4);
		}
		.next {
			position: fixed;
			top: 49vh;
			right: calc((100vw - 72rem - 150px) / 2);
		}
		
		//.next {
		//	float: right;
		//}
	}
	
	/*
	.block.first {
		float: left;
		width: 70%;
		box-sizing: border-box;
		padding-right: 20px;
	}

	.block.second {
		float: left;
		width: 30%;
		font-size: 80%;
		
		h3 {
			margin-top: 0;
			font-size: 120%;
		}
	}

	.block.third {
		clear: both;
	}
	*/
	
	h3 {
		margin-top: 0;
		font-size: 125%;
		letter-spacing: 0px;
		margin-bottom: 7px;
	}
	
	ul {
		//margin-top: -15px; /* fix */
		margin-left: 0;
		padding-left: 0;
		list-style: none;
		color: lighten($text-color, 10);
	}
	
	li:before {
		//content: " — ";
		//content: "•";
		color: lighten($text-color, 20);
		margin-right: 5px;
		width: 20px;
		display: inline-block;
		text-align: center;
		
		font-family: FontAwesome;
		content: "\f00c";
	}
	
	li.wordpress:before {
		content: "\f19a";
	}
	li.code:before {
		content: "\f121";
	}
	li.drupal:before {
		content: "\f1a9";
	}
	li.responsive:before {
		content: "\f10b";
	}
	li.zenphoto:before {
		content: "\f03e";
	}
	li.backend:before {
		//content: "\f040";
		content: "\f013";
	}
	li.codeigniter:before {
		content: "\f06d";
	}
	li.payment:before {
		content: "\f09d";
	}
	li.reporting:before {
		content: "\f080";
	}
}

